.App {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: yellow;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.intro{
  width: 50vw;
}
.variants-illustration{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
